@page "/"

<PageTitle>Beyond Todo App - Exercise</PageTitle>

<div class="container">
    <h1 class="display-4">Welcome to Beyond Todo App!</h1>

    <div class="mt-4">
        <p class="lead">This is an exercise application developed for <strong>jcarloscandela</strong> as part of the
            Beyond Hospitality test.</p>
        <p>Feel free to explore the Todo functionality and features implemented in this application.</p>
    </div>

    <div class="mt-4">
        <a href="/todo" class="btn btn-primary">Go to Todo List</a>
    </div>
</div>
